@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: relative;
    height: 980px;
    background-image: url(../img/header.png);
    background-position: center top;
    background-size: cover;
}

.header_image {
    width: 100%;
    height: 890px;
}

.menu {
    width: 90%;
    margin-top: 32px;
    margin-inline: 5%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
    color: white;
}

.rno {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.southern_california_1 {
    font-size: 16px;
}

.menu_left {
    display: flex;
    font-size: 20px;
}

.menu_item {
    margin-inline: 24px;
    text-decoration: none;
}

.menu_item:visited {
    color: inherit;
}

.transparent_card {
    width: 970px;
    height: 472px;
    position: absolute;
    top: 178px;
    margin-inline: calc(50% - 485px);
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}

.get_a_cash {
    margin-block: 23px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
}

.sell_your_house {
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
}

.contact_form {
    width: 80%;
    height: 75px;
    margin-inline: 10%;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.input_wrapper {
    height: 100%;
    position: relative;
}

.address_icon {
    position: absolute;
    /* left: 32px;
    top: 31px; */
}

.phone_icon {
    position: absolute;
    left: 32px;
    top: 31px;
}

.contact_input {
    height: calc(100% - 24px);
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
    border-radius: 60px;
}

.contact_input::placeholder {
    color: #7D7D7D;
    font-family: "Georgia";
    font-size: 18px;
}

.phone_input {
    height: calc(100% - 24px);
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border-left: 1px solid #929292;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
}

.submit_button {
    width: 225px;
    height: 56px;
    margin: 10px;
    background-color: #D06224;
    border-radius: 35px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.white_boxes_wrapper {
    width: 970px;
    margin-inline: calc(50% - 485px);
    display: flex;
    position: absolute;
    bottom: -141px;
}

.white_box {
    width: 304px;
    height: 245px;
    padding: 26px 39px;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(148, 148, 148, 0.25);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.white_box:not(:last-child) {
    margin-right: 32px;
}

.steps_icon {
    width: 60px;
    height: 60px;
}

.step_heading {
    font-size: 24px;
    font-weight: bold;
}

.step_description {
    font-size: 16px;
    line-height: 20px;
}

.about_us {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 250px;
    display: flex;
    display: grid;
    grid-template-columns: 55% 45%;
}

.about_left {
    padding-right: 75px;
}

.about_us_heading {
    color: #D06224;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
}

.about_us_subheading {
    margin-block: 2px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 34px;
}

.about_us_description {
    font-family: "Georgia";
    font-size: 20px;
}

.about_list {
    font-family: "Georgia";
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_list_block {
    padding-left: 0;
}

.about_list_item {
    display: flex;
    align-items: center;
}

.health_item {
    opacity: 0;
}

.about_check {
    width: 12px;
    height: 12px;
}

.about_list_item p {
    margin-left: 8px;
    margin-block: 6px;
}

.about_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    text-decoration: none;
    background: #D06224;
    border-radius: 35px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.about_img {
    width: 122%;
    /* height: 718px; */
}

.explore {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 100px;
    display: flex;
    display: grid;
    grid-template-columns: 55% 45%;
}

.explore_img {
    width: 585px;
}

.explore_description {
    font-family: "Georgia";
    font-size: 20px;
    line-height: 23px;
}

.make_it_easy {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 100px;
}

.make_it_easy_description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}

.v_check {
    width: 20px;
    height: 16px;
    margin-right: 15px;
}

.cross_check {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.make_it_easy_list_heading {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.make_it_easy_item {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
}

.make_it_easy_item p {
    margin-left: 8px;
    margin-block: 6px;
}

.hr {
    margin-top: 70px;
    position: relative;
}

.hr_img {
    width: 100%;
}

@media screen and (min-width: 1920px) {
    .hr {
        width: 1920px;
        margin-inline: calc(50% - 860px);
    }
}

.hr_text {
    margin: 0;
    position: absolute;
    top: calc(50% - 23px);
    left: 200px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.hr_call {
    position: absolute;
    top: calc(50% - 28px);
    right: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    text-decoration: none;
    background-color: white;
    border-radius: 35px;
    color: #D06224;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.hr_button {
    position: absolute;
    top: calc(50% - 28px);
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 56px;
    text-decoration: none;
    background-color: #D06224;
    border-radius: 35px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}