@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: relative;
   
    /* TODO height = 980px */
    height: 980px; 
    background-image: url(../img/header.png);
    background-position: center top;
    background-size: cover;
}

.header_image {
    width: 100%;
    height: 890px;
}

.menu {
    width: 90%;
    margin-top: 32px;
    margin-inline: 5%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
    color: white;
}

.rno {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.southern_california_1 {
    font-size: 16px;
}

.menu_left {
    display: flex;
    font-size: 20px;
}

.menu_left_mobile {
    display: none;
}

.menu_item {
    margin-inline: 24px;
    text-decoration: none;
    color: white;
}

.menu_item:visited {
    color: inherit;
}

.transparent_card {
    width: 970px;

    /* TODO heigth 472px */
    height: 472px;
    position: absolute;
    top: 178px;
    margin-inline: calc(50% - 485px);
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}

.get_a_cash {
    margin-block: 23px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
}

.sell_your_house {
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
}

.contact_form {
    width: 80%;
    height: 75px;
    margin-inline: 10%;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.contact_form_mobile {
    display: none;
}

.input_wrapper {
    height: 100%;
    position: relative;
}

.address_icon {
    position: absolute;
    /* left: 32px;
    top: 31px; */
}

.phone_icon {
    position: absolute;
    left: 32px;
    top: 31px;
}

.contact_input {
    height: calc(100% - 24px);
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
    border-radius: 60px;
}

.contact_input::placeholder {
    color: #7D7D7D;
    font-family: "Georgia";
    font-size: 18px;
}

.phone_input {
    height: calc(100% - 24px);
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border-left: 1px solid #929292;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
}

.submit_button {
    width: 225px;
    height: 56px;
    margin: 10px;
    background-color: #D06224;
    border-radius: 35px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* POP-UP FORM */

/* Class to focus only Pop Up  window */

.blur > *:not(.pop-up){
   filter: blur(2px) brightness(0.5);
}


.pop-up {
    display: block;
    position: fixed;
    z-index: 999;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 972px;
    height: 950px;
    padding: 71px 160px 88px;
    font-family: "Montserrat";
    color: white;
    background-image: url(../img/pop_up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    filter: none;
}

.pop-up_terms {
    margin-bottom: 57px;
    padding-bottom: 25px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
}

.pop-up_terms-description {
    margin-bottom: 25px;
}

.pop-up_terms-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pop-up_terms-link {
    font-size: 16px;
    color: #fff;
}

.pop-up_title {
    margin-bottom: 57px;
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-size: 40px;
    line-height: 49px;
}

.pop-up_form {
    width: 405px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
}

.pop-up_required-field {
    position: relative;
}

.pop-up_required-field::after {
    content: '*';
    position: absolute;
    color: #ffa629;
}

.pop-up_input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pop-up_input {
    padding: 14px 12px 13px;
    border-radius: 35px;
    border: none;
    outline: none;
}

.pop-up_input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #bdbdbd;
}

.pop-up_button {
    margin-top: 8px;
    padding: 16px 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #d06224;
    border-radius: 34px;
    border: none;
    outline: none;
    cursor: pointer;
}

.white_boxes_wrapper {
    width: 970px;
    margin-inline: calc(50% - 485px);
    display: flex;
    position: absolute;
    bottom: -141px;
}

.white_boxes_wrapper_mobile {
    display: none;
}

.white_box {
    width: 304px;
    height: 245px;
    padding: 26px 39px;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(148, 148, 148, 0.25);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.white_box:not(:last-child) {
    margin-right: 32px;
}

.steps_icon {
    width: 60px;
    height: 60px;
}

.step_heading {
    font-size: 24px;
    font-weight: bold;
}

.step_description {
    font-size: 16px;
    line-height: 20px;
}

.about_us {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    overflow: hidden;
    margin-top: 250px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.about_us_mobile {
    display: none;
}

.about_left {
    padding-right: 75px;
}

.about_us_heading {
    color: #D06224;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
}

.about_us_subheading {
    margin-block: 2px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 34px;
}

.about_us_description {
    font-family: "Georgia";
    font-size: 20px;
}

.about_list {
    font-family: "Georgia";
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_list_block {
    padding-left: 0;
}

.about_list_item {
    display: flex;
    align-items: center;
}

.health_item {
    opacity: 0;
}

.about_check {
    width: 12px;
    height: 12px;
}

.about_list_item p {
    margin-left: 8px;
    margin-block: 6px;
}

.about_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    text-decoration: none;
    background: #D06224;
    border-radius: 35px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.about_img {
    width: 122%;
    /* height: 752px; */
}

.explore {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 100px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.explore_img {
    width: 585px;
}

.explore_description {
    font-family: "Georgia";
    font-size: 20px;
    line-height: 23px;
}

.make_it_easy {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 100px;
}

.make_it_easy_description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}

.v_check {
    width: 20px;
    height: 16px;
    margin-right: 15px;
}

.cross_check {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.make_it_easy_list_heading {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.make_it_easy_item {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
}

.make_it_easy_item p {
    margin-left: 8px;
    margin-block: 6px;
}

.hr {
    margin-top: 70px;
    position: relative;
}

.hr_mobile {
    display: none;
}

.hr_img {
    width: 100%;
}

@media screen and (min-width: 1920px) {
    .hr {
        width: 1920px;
        margin-inline: calc(50% - 960px);
    }
}

.hr_text {
    margin: 0;
    position: absolute;
    top: calc(50% - 23px);
    left: 200px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.hr_call {
    position: absolute;
    top: calc(50% - 28px);
    right: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    text-decoration: none;
    background-color: white;
    border-radius: 35px;
    color: #D06224;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.hr_button {
    position: absolute;
    top: calc(50% - 28px);
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 56px;
    text-decoration: none;
    background-color: #D06224;
    border-radius: 35px;
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
}

.client_reviews {
    width: 1200px;
    margin-inline: calc(50% - 600px);
    margin-top: 100px;
    margin-bottom: 300px;
}

footer {
    padding-top: 81px;
    padding-inline: calc(50% - 600px);
    padding-bottom: 97px;
    background-color: #1c1c1c;
    display: grid;
    grid-template-columns: 45% 55%;
}

.footer_left,
.footer_right {
    color: white;
}

.footer_right_menu {
    display: flex;
    justify-content: space-between;
}

.footer_left_description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
}

.footer_menu {
    padding: 0;
    margin-block: 12px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    list-style-type: none;
}

.footer_menu a {
    color: inherit;
    text-decoration: none;
}

.footer_menu_item {
    margin-block: 21px;
}

.footer_contact_form {
    width: 100%;
    height: 75px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.footer_contact_form_mobile {
    display: none;
}

.footer_input_wrapper {
    height: 33%;
    position: relative;
    display: flex;
}

.footer_contact_input {
    width: 100%;
    height: 50px;
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
    border-radius: 60px;
}

.footer_contact_input::placeholder {
    color: #7D7D7D;
    font-family: "Georgia";
    font-size: 18px;
}

.footer_phone_input {
    width: 100%;
    height: 50px;
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 32px;
    border-left: 1px solid #929292;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
}

@media screen and (min-width: 1080px) and (max-width: 1420px) {
    .hr_text {
        top: 23%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 540px;
    }

    .hr_call {
        top: 55%;
        left: 30%;
        width: 210px;
    }

    .hr_button {
        top: 55%;
        right: 30%;
        width: 210px;
    }
}



@media screen and (max-width: 1080px) {
    header {
        height: 820px;
    }

    .menu {
        width: 90%;
        margin-top: 32px;
        margin-inline: 5%;
        position: absolute;
        top: 0;
        display: block;
    }

    .logo {
        margin-inline: calc(50% - 90px);
    }

    .rno {
        margin-inline: calc(50% - 93px);
    }

    .menu_left {
        display: none;
    }

    .menu_left_mobile {
        display: flex;
        margin-top: 12px;
        justify-content: center;
    }

    .southern_california_1 {
        text-align: center;
    }

    .menu_item {
        font-size: 12px;
    }

    .transparent_card {
        width: 326px;
        height: 538px;
        position: absolute;
        top: 208px;
        margin-inline: calc(50% - 175px);
        padding-top: 50px;
        padding-inline: 12px;
    }

    .get_a_cash {
        font-size: 32px;
        margin-block: 0;
    }

    .contact_form {
        display: none;
    }

    .contact_form_mobile {
        display: block;
        background-color: white;
        border-radius: 24px;
        padding-block: 18px;
    }

    .submit_button_mobile {
        width: 90%;
        margin-inline: 5%;
        height: 56px;
        background-color: #D06224;
        border-radius: 35px;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .input_wrapper_mobile {
        width: 90%;
        margin-inline: 5%;
        margin-block: 23px;
        /* padding-left: 10%; */
    }

    .contact_input_mobile::placeholder,
    .phone_input_mobile::placeholder {
        text-align: center;
    }

    .input_wrapper_mobile:first-child {
        padding-bottom: 12px;
        border-bottom: 1px solid #7D7D7D;
    }

    .contact_input_mobile {
        width: 90%;
        border: none;
        outline: none;
    }

    .phone_input_mobile {
        width: 90%;
        border: none;
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        color: #7D7D7D;
    }

    .white_boxes_wrapper {
        display: none;
    }

    .white_boxes_wrapper_mobile {
        display: block;
    }

    .white_box_mobile {
        width: 250px;
        height: 245px;
        margin-block: 12px;
        margin-inline: calc(50% - 165px);
        padding: 26px 40px;
        background-color: white;
        box-shadow: 0px 0px 9px rgba(148, 148, 148, 0.25);
        border-radius: 4px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    .about_us {
        display: none;
    }

    .about_us_mobile {
        display: block;
        margin-top: 50px;
    }

    .about_left {
        padding-inline: 23px;
    }

    .about_us_subheading {
        font-size: 24px;
    }

    .about_us_description {
        text-align: justify;
    }

    .about_list_block {
        padding-right: 5px;
    }

    .explore {
        display: block;
        width: 99%;
        margin-top: 50px;
        margin-inline: 1%;
    }

    .explore_img {
        width: 100%;
    }

    .explore_description {
        text-align: justify;
    }

    .make_it_easy {
        display: block;
        width: 99%;
        margin-top: 50px;
        margin-inline: 1%;
    }

    .make_it_easy_list {
        display: block;
    }

    .hr {
        display: none;
    }

    .hr_text_mobile {
        text-align: center;
        font-family: "Montserrat";
        color: white;
    }

    .hr_mobile {
        display: block;
        height: 221px;
        padding-top: 5px;
        background-image: url(../img/hr.png);
        background-position: center;
        background-size: cover;
    }

    .hr_call_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 56px;
        margin-inline: auto;
        text-decoration: none;
        background-color: white;
        border-radius: 35px;
        color: #D06224;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        z-index: 3;
    }

    .hr_button_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 56px;
        margin-inline: auto;
        margin-block: 23px;
        text-decoration: none;
        background-color: #D06224;
        border-radius: 35px;
        color: white;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 20px;
        z-index: 3;
    }

    .client_reviews {
        width: 94%;
        margin-inline: 3%;
    }

    footer {
        padding-inline: 5%;
        background-color: #1c1c1c;
        display: block;
    }

    .footer_right_menu {
        display: block;
    }

    .footer_contact_form {
        display: none;
    }

    .footer_contact_form_mobile {
        display: block;
    }

    .footer_menu_item {
        text-align: center;
    }

    .footer_left_description {
        text-align: center;
    }
}