@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: relative;
    height: 890px;
    background-image: url(../img/header.png);
    background-position: center top;
    background-size: cover;
}

.header_image {
    width: 100%;
    height: 890px;
}

.menu {
    width: 90%;
    margin-top: 32px;
    margin-inline: 5%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
    color: white;
}

.rno {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.southern_california_1 {
    font-size: 16px;
}

.menu_left {
    display: flex;
    font-size: 20px;
}

.menu_item {
    margin-inline: 24px;
}

.transparent_card {
    width: 970px;
    height: 472px;
    position: absolute;
    top: 178px;
    margin-inline: calc(50% - 485px);
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}

.get_a_cash {
    margin-block: 23px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
}

.sell_your_house {
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
}

.contact_form {
    width: 80%;
    height: 75px;
    margin-inline: 10%;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.input_wrapper {
    height: 100%;
    position: relative;
}

.address_icon {
    /* position: absolute; */
    /* left: 32px;
    top: 31px; */
}

.phone_icon {
    position: absolute;
    left: 32px;
    top: 31px;
}

.contact_input {
    margin-left: 32px;
    outline: none;
    border: none;
    border-radius: 60px;
}

.contact_input::placeholder {
    color: #7D7D7D;
    font-family: "Georgia";
    font-size: 18px;
}

.phone_input {
    height: calc(100% - 24px);
    margin-block: 12px;
    margin-left: 23px;
    padding-left: 48px;
    border-left: 1px solid #929292;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    font-family: "Georgia";
    font-size: 18px;
}

.submit_button {
    width: 225px;
    height: 56px;
    margin: 10px;
    background-color: #D06224;
    border-radius: 35px;
    border: none;
    font-size: 20px;
    color: white;
}