<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <header>
    <div class="menu">
      <div class="menu_right">
        <div class="logo_container">
          <img src="{{ url_for('static', filename='img/logo_header.png') }}" alt="logo" class="logo">
          <p class="rno">real neighbourhood offer</p>
        </div>
        <p class="southern_california_1">Southern California <b>#1</b> trusted homebuyer</p>
      </div>
      <div class="menu_left">
        <a href="#" class="menu_item">About us</a>
        <a href="#" class="menu_item">How it works</a>
        <a href="#" class="menu_item">Reviews</a>
      </div>
    </div>

    <div class="transparent_card">
      <p class="get_a_cash">Get A Cash Offer For Your</p>
      <p class="get_a_cash">Home Today!</p>
      <p class="sell_your_house">Sell Your House Fast To A Reputable Nationwide Homebuyer</p>

      <form action="/" method="post" class="contact_form">
        <div class="input_wrapper">
          <img class="phone_icon" src="{{ url_for('static', filename='img/address_icon.png') }}" alt="phone_icon">
          {{ form.address(class="contact_input", placeholder="Address") }}
        </div>
        <div class="input_wrapper">
          <img class="phone_icon" src="{{ url_for('static', filename='img/phone_icon.png') }}" alt="phone_icon">
          {{ form.phone(class="phone_input", placeholder="Phone number") }}
        </div>
        {{ form.submit(class="submit_button") }}
      </form>

      <form action="/" method="post" class="contact_form_mobile">
        <div class="input_wrapper_mobile">
          <img class="phone_icon_mobile" src="{{ url_for('static', filename='img/address_icon.png') }}"
            alt="phone_icon">
          {{ form.address(class="contact_input_mobile", placeholder="Address") }}
        </div>
        <div class="input_wrapper_mobile">
          <img class="phone_icon_mobile" src="{{ url_for('static', filename='img/phone_icon.png') }}" alt="phone_icon">
          {{ form.phone(class="phone_input_mobile", placeholder="Phone number") }}
        </div>
        {{ form.submit(class="submit_button_mobile") }}
      </form>
    </div>
    <div class="white_boxes_wrapper">
      <div class="white_box box_submit">
        <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
        <div class="step_heading">Submit Your Info</div>
        <p class="step_description">
          One of our representatives from Real Neighborhood Offer will contact you to setup a no-obligation
          consultation.
        </p>
      </div>

      <div class="white_box box_talk">
        <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
        <div class="step_heading">Let's talk</div>
        <p class="step_description">
          Consult with one of our Home Buying Specialist, to discuss the details of your property.
        </p>
      </div>

      <div class="white_box box_offer">
        <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
        <div class="step_heading">Receive Your Cash Offer</div>
        <p class="step_description">
          When you approve our offer.
          <br>
          We will close on your timeline and you get paid within days.
          It's that simple.
        </p>
      </div>
    </div>
  </header>

  <div class="white_boxes_wrapper_mobile">
    <div class="white_box_mobile box_submit">
      <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
      <div class="step_heading">Submit Your Info</div>
      <p class="step_description">
        One of our representatives from Real Neighborhood Offer will contact you to setup a no-obligation
        consultation.
      </p>
    </div>

    <div class="white_box_mobile box_talk">
      <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
      <div class="step_heading">Let's talk</div>
      <p class="step_description">
        Consult with one of our Home Buying Specialist, to discuss the details of your property.
      </p>
    </div>

    <div class="white_box_mobile box_offer">
      <img class="steps_icon" src="{{ url_for('static', filename='img/step_icon_pencil.png') }}" alt="step_icon">
      <div class="step_heading">Receive Your Cash Offer</div>
      <p class="step_description">
        When you approve our offer.
        <br>
        We will close on your timeline and you get paid within days.
        It's that simple.
      </p>
    </div>
  </div>

  <section class="about_us">
    <div class="about_left">
      <p class="about_us_heading">About us</p>
      <p class="about_us_subheading">Real Neighborhood Offer</p>
      <p class="about_us_subheading">Provides Options To Sell Your Home</p>
      <p class="about_us_description">
        Real Neighborhood Offer provides another option to sell your house fast. We buy houses with no listing fees. No
        agent
        commissions. And a quick, hassle-free closing process. You won’t have to worry about the hassle of repairs or
        renovations.
        <br>
        <br>
        Getting rid of the headache and hassle of dealing with an unwanted property is our service to you. Sell your
        house fast
        without the hassle of a traditional sale.
        <br>
        <br>
        Some reasons our clients have sold their house as-is for a cash offer:
      </p>

      <div class="about_list">
        <ul class="about_list_block">
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Inherited Horne</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Retirement</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Bad Tenants</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Expensive Repairs</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Damage</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Downsizing</p>
          </li>
        </ul>

        <ul class="about_list_block">
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Foreclosuree</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Job Loss</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Relocating</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Divorce</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Bankruptcy</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check"
              class="about_check health_item">
            <p>Health Issues</p>
          </li>
        </ul>
      </div>

      <a href="#" class="about_button">Get my offer</a>
    </div>
    <img src="{{ url_for('static', filename='img/about_img.png') }}" alt="about_img" class="about_img">
  </section>

  <section class="about_us_mobile">
    <div class="about_left">
      <p class="about_us_heading">About us</p>
      <p class="about_us_subheading">Real Neighborhood Offer</p>
      <p class="about_us_subheading">Provides Options To Sell Your Home</p>
      <p class="about_us_description">
        Real Neighborhood Offer provides another option to sell your house fast. We buy houses with no listing fees. No
        agent
        commissions. And a quick, hassle-free closing process. You won’t have to worry about the hassle of repairs or
        renovations.
        <br>
        <br>
        Getting rid of the headache and hassle of dealing with an unwanted property is our service to you. Sell your
        house fast
        without the hassle of a traditional sale.
        <br>
        <br>
        Some reasons our clients have sold their house as-is for a cash offer:
      </p>

      <div class="about_list">
        <ul class="about_list_block">
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Inherited Horne</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Retirement</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Bad Tenants</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Expensive Repairs</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Damage</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Downsizing</p>
          </li>
        </ul>

        <ul class="about_list_block">
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Foreclosuree</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Job Loss</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Relocating</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Divorce</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check" class="about_check">
            <p>Bankruptcy</p>
          </li>
          <li class="about_list_item">
            <img src="{{ url_for('static', filename='img/about_check.png') }}" alt="about_check"
              class="about_check health_item">
            <p>Health Issues</p>
          </li>
        </ul>
      </div>

      <a href="#" class="about_button">Get my offer</a>
    </div>
  </section>

  <section class="explore">
    <img src="{{ url_for('static', filename='img/explore.png') }}" alt="explore_img" class="explore_img">

    <div class="about_left">
      <p class="about_us_heading">Explore</p>
      <p class="about_us_subheading">Discover the Diverce</p>
      <p class="about_us_subheading">Locations Where We Have</p>
      <p class="about_us_subheading">Bought Properties</p>
      <p class="explore_description">
        We continuously purchase homes in 15 different states including Indiana, Texas, Florida, Maryland, Michigan,
        Utah,
        Nevada, Colorado, Tennessee, Alabama, Ohio, North Carolina, South Carolina.
      </p>
    </div>
  </section>

  <section class="make_it_easy">
    <div class="about_left">
      <p class="about_us_heading">We make it easy</p>
      <p class="about_us_subheading">Stress-Free Home Selling Process</p>
      <p class="make_it_easy_description">
        Selling your house as-is, or going the traditional route, it doesn’t have to be a difficult process. We make it
        easy!
        When you accept an offer from Real Neighborhood Offer, you can sell your house in 14 days, or more if you need
        additional time, without the stress of:
      </p>

      <div class="about_list make_it_easy_list">
        <ul class="about_list_block">
          <p class="make_it_easy_list_heading">Traditional Process</p>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/cross_check.png') }}" alt="cross_check" class="cross_check">
            <p>Meeting realtors</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/cross_check.png') }}" alt="cross_check" class="cross_check">
            <p>Making expensive repairs</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/cross_check.png') }}" alt="cross_check" class="cross_check">
            <p>Open houses and strangers in your home</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/cross_check.png') }}" alt="cross_check" class="cross_check">
            <p>Needing to pack and move out on the home buyer’s schedule</p>
          </li>
        </ul>

        <ul class="about_list_block">
          <p class="make_it_easy_list_heading">Real Neighbourhood Offer</p>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/v_check.png') }}" alt="v_check" class="v_check">
            <p>Selling the property independently</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/v_check.png') }}" alt="v_check" class="v_check">
            <p>We cover repairs</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/v_check.png') }}" alt="v_check" class="v_check">
            <p>No showings</p>
          </li>
          <li class="make_it_easy_item">
            <img src="{{ url_for('static', filename='img/v_check.png') }}" alt="v_check" class="v_check">
            <p>Having the flexibility to move out at your convenience.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="hr">
    <img src="{{ url_for('static', filename='img/hr.png') }}" alt="hr" class="hr_img">
    <p class="hr_text">What are you waiting for?</p>
    <a href="tel:+17145846719" class="hr_call">Call</a>
    <a href="#" class="hr_button">Get my offer</a>
  </section>

  <section class="hr_mobile">
    <p class="hr_text_mobile">What are you waiting for?</p>
    <div class="hr_mobile_buttons">
      <a href="tel:+17145846719" class="hr_call_mobile">Call</a>
      <a href="#" class="hr_button_mobile">Get my offer</a>
    </div>
  </section>

  <section class="client_reviews">
    <p class="about_us_heading">Client reviews from Google</p>
    <p class="about_us_subheading">What They Say</p>
  </section>

  <footer>
    <div class="footer_left">
      <div class="logo_container">
        <img src="{{ url_for('static', filename='img/logo_header.png') }}" alt="logo" class="logo">
        <p class="rno">real neighbourhood offer</p>
      </div>
      <p class="footer_left_description">
        We are a real estate solutions and
        <br>
        investment firm that specializes in
        <br>
        helping homeowners get rid of
        <br>
        burdensome houses fast
      </p>
    </div>

    <div class="footer_right">
      <div class="footer_right_menu">
        <ul class="footer_menu">
          <li class="footer_menu_item">About us</li>
          <li class="footer_menu_item">How it works</li>
          <li class="footer_menu_item">Reviews</li>
        </ul>

        <ul class="footer_menu">
          <li class="footer_menu_item">Contact us</li>
          <li class="footer_menu_item">admin@realneighborhoodoffer.com</li>
          <li class="footer_menu_item"><a href="tel:+17145846719">(714)-584-6719</a></li>
        </ul>
      </div>

      <form action="/" method="post" class="footer_contact_form">
        <div class="footer_input_wrapper">
          <img class="phone_icon" src="{{ url_for('static', filename='img/address_icon.png') }}" alt="phone_icon">
          {{ form.address(class="footer_contact_input", placeholder="Address") }}
        </div>
        <div class="footer_input_wrapper">
          <img class="phone_icon" src="{{ url_for('static', filename='img/phone_icon.png') }}" alt="phone_icon">
          {{ form.phone(class="footer_phone_input", placeholder="Phone number") }}
        </div>
        {{ form.submit(class="submit_button") }}
      </form>

      <form action="/" method="post" class="contact_form_mobile">
        <div class="input_wrapper_mobile">
          <img class="phone_icon_mobile" src="{{ url_for('static', filename='img/address_icon.png') }}"
            alt="phone_icon">
          {{ form.address(class="contact_input_mobile", placeholder="Address") }}
        </div>
        <div class="input_wrapper_mobile">
          <img class="phone_icon_mobile" src="{{ url_for('static', filename='img/phone_icon.png') }}" alt="phone_icon">
          {{ form.phone(class="phone_input_mobile", placeholder="Phone number") }}
        </div>
        {{ form.submit(class="submit_button_mobile") }}
      </form>
    </div>
  </footer>
</body>

</html>