<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <header>
    <div class="menu">
      <div class="menu_right">
        <div class="logo_container">
          <img src="{{ url_for('static', filename='img/logo_header.png') }}" alt="logo" class="logo">
          <p class="rno">real neighbourhood offer</p>
        </div>
        <p class="southern_california_1">Southern California <b>#1</b> trusted homebuyer</p>
      </div>
      <div class="menu_left">
        <p class="menu_item">About us</p>
        <p class="menu_item">How it works</p>
        <p class="menu_item">Reviews</p>
      </div>
    </div>

    <div class="transparent_card">
      <p class="get_a_cash">Get A Cash Offer For Your</p>
      <p class="get_a_cash">Home Today!</p>
      <p class="sell_your_house">Sell Your House Fast To A Reputable Nationwide Homebuyer</p>
      <div class="fake_form"></div>
    </div>
  </header>
</body>

</html>